@{
    ViewData["Title"] = "Cursos";
}
<h1>Cursos da plataforma</h1>
<div class="d-flex m-1">
    <a asp-controller="Modulo" asp-action="Criar" class="btn btn-primary d-inline-flex m-1">Adicionar Módulos</a>
    <a asp-controller="Aula" asp-action="Criar" class="btn btn-primary d-inline-flex m-1">Adicionar Aula</a>
    <a asp-controller="Curso" asp-action="Criar" class="btn btn-primary d-inline-flex m-1">Adicionar Curso</a>
</div>
@{
    if (ViewBag.listaCursos.Count > 0)
    {
        for (int i = 0; i < ViewBag.listaCursos.Count; i++)
        {
            <div class="row">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">@ViewBag.listaCursos[i].Titulo</h5>
                    <p class="card-text">@ViewBag.listaCursos[i].Duracao.Hours hora(s) e @ViewBag.listaCursos[i].Duracao.Minutes minuto(s).</p>
                        <a href="Cursos/Listar/@ViewBag.listaCursos[i].Identificador">Acessar Informações do Curso</a>
                  </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Nenhum curso foi adicionado ainda na nossa plataforma! <a asp-action="Criar">Clique aqui para criar um novo curso</a>
        </div>
    }
}