@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacidade desse website";
}
<h1>@ViewData["Title"]</h1>

<p>Essa página da web foi criada para participação do processo seletivo do Balta.io</p>
